// image overlay
.img-overlay {
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.6);

  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

// image background cover
.img-bgnd {
  z-index: -100;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}

svg {
  width: 100%;
  height: auto;
}

#slacker-outer-frame {
  fill: #277ce6;
}

#slacker-main {
  fill: white;
}


// search-bar, filtering
.search-bar {
  display: block;
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  border-radius: 40px;
  border: solid 0.55px lightblue;
  height: 35px;
}

.search-bar:focus {
  outline: 0;
}

// make placeholder disappear on focus in search-bar
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

// search-bar placeholder styling
.search-bar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
.search-bar::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
.search-bar:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
.search-bar:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

// items
li.item-info {
  list-style: none;
  font-size: 25px;
}

.items-flex {
  padding-top: 30px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.items-flex-item {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
}

div.item-info-container {
  text-align: center;
}

.quantity-holder {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 15px;
    margin-right: 15px;
    outline: none;
    border: solid #888888 2px;
    //box-shadow: 0px 10px 10px 1px darkgray;

    //-moz-border-radius: 10px;
    //-webkit-border-radius: 10px;
    border-radius: 50%;
    font-size: 20px;
    padding: 15px 20px;
    transition: all 800ms ease;
  }

  button {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: solid #888888 2px;
    cursor: pointer;
    //box-shadow: 0px 10px 10px 1px darkgray;

    //-moz-border-radius: 10px;
    //-webkit-border-radius: 10px;
    border-radius: 2px;
    font-size: 15px;
    padding: 15px 20px;
    transition: all 300ms ease;
  }

  button:hover {
    border-color: $main-text-color;
    color: $main-text-color;
  }

  button:focus {
    outline: 0;
  }

}

