html, body {
  height: 100%;
}

* {
  margin: 0;
  font-family: "atlason",Helvetica,"Neue Helvetica",Arial,sans-serif;
}



// image overlay
.img-overlay {
  z-index: -1;
  //TODO remove overlay?
  background-color: rgba(255, 255, 255, 0);

  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

// image background cover
.img-bgnd {
  z-index: -100;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  filter:blur(5px);
}

svg {
  width: 100%;
  height: auto;
}

#slacker-outer-frame {
  fill: #2745e6;
}

#slacker-main {
  fill: #e2e2e2;
}

// top container
.top-container {
  background-color: $scnd-theme-color;
  padding: 10px;
  margin: auto;
  box-shadow: 0 20px 10000px 100px #f5f5f5;
  border-bottom: solid $background-color 1px;
}

#main-logo {
  display: block;
  margin: 10px auto 35px auto;
  width: 40%;
  height: 40%;

}

// search-bar, filtering
.search-bar {
  background-color: $scnd-theme-color;
  display: block;
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 40px;
  border: solid 2px $pay-button-bgnd-color;
  height: 35px;
  font-size: 15px;
  font-style: italic;
  transition: all 300ms ease;
}

.search-bar:focus {
  outline: 0;
  box-shadow: 0 0 15px $slacker-color;
}

// make placeholder disappear on focus in search-bar
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

// search-bar placeholder styling
.search-bar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #949494;
}
.search-bar::-moz-placeholder { /* Firefox 19+ */
  color: #949494;
}
.search-bar:-ms-input-placeholder { /* IE 10+ */
  color: #949494;
}
.search-bar:-moz-placeholder { /* Firefox 18- */
  color: #949494;
}

// items
li.item-info {
  list-style: none;
  font-size: 25px;
  white-space: nowrap;
}

.items-flex {
  display: -webkit-flex;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  margin: 30px auto;
  width: 30%;
  flex-direction: column;
}

.items-list{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.items-flex-item {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  margin: 10px;
}

div.item-info-container {
  text-align: center;
}

.quantity-holder {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 15px;
    margin-right: 15px;
    outline: none;
    border: solid #888888 2px;
    //box-shadow: 0px 10px 10px 1px darkgray;

    //-moz-border-radius: 10px;
    //-webkit-border-radius: 10px;
    border-radius: 50%;
    font-size: 20px;
    padding: 15px 20px;
    transition: all 800ms ease;
  }

  button {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: solid #888888 2px;
    cursor: pointer;
    //box-shadow: 0px 10px 10px 1px darkgray;

    //-moz-border-radius: 10px;
    //-webkit-border-radius: 10px;
    border-radius: 2px;
    font-size: 15px;
    padding: 15px 20px;
    transition: all 300ms ease;
  }

  button:hover {
    border-color: $main-text-color;
    color: $main-text-color;
  }

  button:focus {
    outline: 0;
  }

}

