.status-flex {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80px;
  border: red solid 2px;
}

.sum-status {
  flex: 1;
  border: solid gold 1px;
}

.pay-btn {
  flex: 1;
  border: solid green 1px;
  background: yellow;
}