.status-flex {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80px;
  border: red solid 2px;
}

.sum-status {
  display: -webkit-flex; /* Safari */
  flex: 1;
  border: solid gold 1px;
}

.pay-btn {
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
  border: solid green 1px;
  background: #73ff19;
  font-size: 35px;
  font-weight: bold;
}

