.status-flex {
  display: -webkit-flex; /* Safari */
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  font-weight: 100;
}

.sum-status {
  background: $pay-button-bgnd-color;
  color: $scnd-theme-color;
  flex: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: $font-size-bar;
}

// hiding up and down arrows on number input
.sum-status::-webkit-outer-spin-button, .sum-status::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pay-btn {
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
  background: $scnd-theme-color;
  font-size: $font-size-bar;
  color: $pay-button-bgnd-color;
  outline: 0;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
}

// hidden-bar is sent as props to StatusBar.js
.hidden-bar {
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}

.shown-bar {
  opacity: 1;
  transition: all 200ms ease-in-out;
}