// status bar
$font-size-bar: 20px;

//colors
$background-color: #FAFAFA;
$main-text-color: #888888;
$scnd-theme-color: #f9f9f9;
$slacker-color: #0E4485;
$scnd-bar-color: #96c9e3;
$pay-button-bgnd-color: #135cb2