@import "variables";

// components
@import "home";
@import "status-bar";


//TODO: temporary for bgnd. delete if to have pic-bgnd instead
html {
  background: $background-color;
  height: 100%;
}

body {
  margin: 0;
}
