.img-overlay {
  z-index: -1;
  background-color: rgba(255, 255, 255, 0);
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }

.img-bgnd {
  z-index: -100;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(5px); }

svg {
  width: 100%;
  height: auto; }

#slacker-outer-frame {
  fill: #277ce6; }

#slacker-main {
  fill: white; }

.search-bar {
  display: block;
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  border-radius: 40px;
  border: solid 0.55px lightblue;
  height: 35px; }

.search-bar:focus {
  outline: 0; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* Firefox 18- */
input:focus::-moz-placeholder {
  color: transparent; }

/* Firefox 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

/* oldIE ;) */
.search-bar::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink; }

.search-bar::-moz-placeholder {
  /* Firefox 19+ */
  color: pink; }

.search-bar:-ms-input-placeholder {
  /* IE 10+ */
  color: pink; }

.search-bar:-moz-placeholder {
  /* Firefox 18- */
  color: pink; }

li.item-info {
  list-style: none;
  font-size: 25px; }

.items-flex {
  padding-top: 30px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }

.items-flex-item {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1; }

div.item-info-container {
  text-align: center; }

.quantity-holder {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }
  .quantity-holder div {
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 15px;
    margin-right: 15px;
    outline: none;
    border: solid #888888 2px;
    border-radius: 50%;
    font-size: 20px;
    padding: 15px 20px;
    transition: all 800ms ease; }
  .quantity-holder button {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: solid #888888 2px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 15px;
    padding: 15px 20px;
    transition: all 300ms ease; }
  .quantity-holder button:hover {
    border-color: #ff9fdc;
    color: #ff9fdc; }
  .quantity-holder button:focus {
    outline: 0; }

.status-flex {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80px; }

.sum-status {
  background: white;
  color: #ff9fdc;
  flex: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  font-size: 40px; }

.sum-status::-webkit-outer-spin-button, .sum-status::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.pay-btn {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  background: white;
  font-size: 40px;
  font-weight: bold; }

html {
  background: #277ce6;
  height: 100%; }

body {
  margin: 0; }
